<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IntBanking" verbose="2" parallel="methods" thread-count="2">
 

   <test name="Test Login Page">
    <classes>
      <class name="com.intBanking.TestCases.TC_LoginPage"/>
    </classes>
  </test>
  <test name="Add new Customer details">
    <classes>
      <class name="com.intBanking.TestCases.TC_AddNewCustomer"/>
    </classes>
  </test>  
</suite> 